<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Webpage with login and todo with Node js, express, mongoDB, EJS">
    <meta name="keywords" content="Todo, Node js, Express, MongoDB, Mongoose, EJS, Dotenv">
    <meta name="author" content="Fredrik André">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <title>todo w. login</title>

    <style>
        .crossed {
            text-decoration: line-through;
        }
    </style>

</head>
<body>
    
